/*  cabeçalho */

#cabecalho { /* logo */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(34, 34, 34);
    padding: 10px;
}

#logo {
    display: flex;
    justify-content: center;
    font-style: Yellowtail, serif;
    font-size: 1.60em;
    color: var(--color_menu);
    padding: 0px;
    margin-bottom: 20px;
}

#logo span {
    color: var(--color_rocha);
}   /*  fim da logo  */


#menu {   /* menu */ 
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    margin: 0 0 0 0;
}

#menu li a {
    display: flex;
    justify-content: center;
    color: var(--color_menu);
    font-size: 0.90em;
    transition: 100ms;
    margin-bottom: 8px;
} 

#menu li a:hover {
    color: var(--color_rocha);
    font-size: 1em;
}   /* fim menu */



/* topo */
#topo {
    background: url('../imagens/camera.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(179, 179, 179);
    font-size: 1em;
    padding: 30px 0 40px 0;
}

#topo h1 {
    font-family: cursive;
    margin: 0;
    color: var(--color_rocha);
    font-weight: 200;
}

#topo hr {
    width: 40px;
    border: 0.50px dashed white;
    margin: 30px 0 30px 0;
    
}

#topo p {
    width: 300px;
    margin: 0;
}

#topo p span a {
    color: rgb(195, 208, 214);
    text-decoration: underline;
}   /* fim topo */


#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    padding: 30px 0 40px 0;
    text-align: center;
    background-color:  rgb(34, 34, 34);
    color: rgb(195, 208, 214);
}

#sobre h1 {
    font-size: 2em;
    font-family: cursive;
    margin: 0;
    padding: 0;
    font-weight: 200;
    
}

#sobre .pontos {
    margin-left: 15px;
}

#sobre p {
    width: 300px;
    margin: 0px;
    padding: 0;
}

#sobre a {
    width: 600px;
    margin-top: 30px;
    padding: 10px 30px;
    color: rgb(34, 34, 34);
    background-color: rgb(206, 206, 206);
    width: fit-content;
}




#servico {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#servico h1 {
    margin: 0;
    padding: 0px;
}

#servico div {
    

}

#servico div .fundo_conteudo_servico {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    width: 260px;
    background: rgb(228, 228, 228);
    padding: 30px 50px 30px 50px;
    transition: 200ms;
    margin: 10px 0 0 0;
}

#servico div .fundo_conteudo_servico:hover {
    background: rgb(14, 14, 14);
    color: rgb(157, 157, 157);
    box-shadow: 10px 10px 30px black;
}




#fotos {
    background: rgb(14, 14, 14);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    padding: 30px 10px 30px 10px;
    color:  rgb(157, 157, 157);;
}

#fotos h1 {
    margin: 0;
    font-size: 2em;
    color:  rgb(157, 157, 157);;
}

#fotos .pontos {
    margin: 10px 0 15px 8px;
}

#fotos img {
    width: 100%;
    margin-bottom: 10px;
}




#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}














@media (min-width: 605px) {

    #topo p {
        width: 600px;
        margin: 0;
    }

    #sobre p {
        width: 600px;
        margin: 0px;
        padding: 0;
    }
    

}